.add-doctor-page{
    overflow-y: scroll;
}

.add-doctor-page form {
    border-radius: 6px;
    margin: 0 auto;
    min-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.add-doctor-page .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.doctor-image {
    width: fit-content;
}

.doctor-image input {
    display: none;
}

.add-doctor-page .form-group img {
    width: 90px;
    cursor: pointer;
    border: 1px solid #161616;
    border-radius: 50%;
}

.add-doctor-page input,
.add-doctor-page select,
.add-doctor-page textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #181818;
    border-radius: 6px;
    outline-color: #3d66f8;
}

.add-doctor-page input[type="file"] {
    padding: 5px;
}

.add-doctor-page textarea {
    resize: vertical;
    max-height: 100px;
}

.add-doctor-page button {
    width: 80%;
    background-color: #3d66f8;
    color: white;
    padding: 12px;
    font-size: 16px;
    min-height: 43px;
    max-height: 43px;
    border-radius: 6px;
    font-weight: bold;
}

.add-doctor-page button img {
    width: 22px;
}



@media (max-width:650px) {

    .add-doctor-page {
        padding: 30px 10px;
    }

    .add-doctor-page .profile-edit-form {
        min-width: 95%;
    }

    .add-doctor-page .form-group img {
        width: 70px;
    }

    .add-doctor-page input,
    .add-doctor-page select,
    .add-doctor-page textarea {
        width: 100%;
    }

    
    .add-doctor-page button{
        width: 100%;
        margin-top: 10px;
    }
}