.contact-title {
    background-color: #3d66f8;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.contact-container {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.contact-container img {
    width: 30vw;
    border-radius: 6px;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-item {
    margin-bottom: 20px;
}

.contact-item h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.contact-item p {
    margin: 5px 0;
}

@media (max-width: 850px) {
    .contact-title h1 {
        font-size: 22px;
    }

    .contact-container {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .contact-container img {
        width: 85vw;
        border-radius: 6px;
    }
}